
SiacaCSAccessDatabase/.vs/SiacaCSAccessDatabase/v16/.suo
SiacaCSAccessDatabase/.vs/SiacaCSAccessDatabase/v16/.suo
SiacaCSAccessDatabase/SiacaCSAccessDatabase/bin/Debug/SiacaCSAccessDatabase.exe
*.pdb
